@import 'bourbon/bourbon'; // http://bourbon.io/

@import 'partials/reset'; // http://meyerweb.com/eric/tools/css/reset/

@import 'partials/variables'; // colors, fonts etc...

@import 'partials/mixins'; // custom mixins

@import 'partials/layout'; // responsive grid and media queries

@import 'components/nav';

@import 'components/add';

@import 'components/edit';

/* --------------------------------

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-3;
}

a {
	color: $color-2;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* --------------------------------

main content basic style

-------------------------------- */

.cd-main-content {
	position: relative;
	z-index: 1;
	min-height: 100vh;
	padding: 100px 0;
	background-color: $color-1;
}

/* --------------------------------

keyframes

-------------------------------- */

@include keyframes(scaleIn) {
  from {
    @include transform(translateY(-50%) scale(0));
  }
  to {
    @include transform(translateY(-50%) scale(1));
  }
}

@include keyframes(slideIn) {
  from {
   	opacity: 0;
	@include transform(translateX(-25px));
  }
  to {
    opacity: 1;
	@include transform(translateX(0));
  }
}
